<h2>Painting Details</h2>

<h2>Painting Name: <%= @painting.name %></h2>
<h2>Price: <%= "$#{@painting.price}" %></h2>
<h2>Artist: <%= @painting.artist.name %></h2>
<h2>Gallery: <%= @painting.gallery.name %></h2>

<%= button_to 'Delete Painting!', @painting, method: :delete %>
